/__pycache__
/Screens_py/__pycache__
/ScreensClasses/__pycache__
/.idea
/Tasks/__pycache__
/Utilities/output
/Reports
*/__pycache__
Interfaces/__pycache__
/output
/build
/dist
/Interfaces/.venv
/Utilities/Files
/Utilities/DebugOutput
/Utilities/Debug_Ram
